#### 형변환 (type casting)
1. str()
2. int()
3. float()
4. bool()

* 단, 변환할 수 없는 값이라면 에러가 발생합니다.

In [4]:
name = '홍길동'
score = 90

type(name)
type(score)

# name + str(score )
print(name + '의 점수는:' + str(score) + '입니다')

홍길동의 점수는:90입니다

In [6]:
n1 = 10
n2 = "34"

print(n1 + int(n2) ) # 정수 덧셈

44

In [8]:
# 타입변환 함수는 일시적으로 값을 변경해줄 뿐, 실제 값은 변경하지 않는다.
n2 = int(n2)

print(n1 + n2)

44

In [10]:
f1 = "3.14"
print( float(f1) )
print( type( float(f1) ) )

3.14
<class 'float'>

In [12]:
s1 = "10입니다"
s2 = "3.14~"

# 에러
# int(s1)
# float(s2) - 실수 형태 X -> 형변환 불가

In [17]:
# 정수 3으로 형변환
s3 = "3.141592"
s3 = int(float(s3))

type(s3)

int